//Variaveis usadas no meu Sass
$cor-padrao: adjust-hue(#c24e4b, 30%);
$cor-auxiliar: saturate(#1e2c35, 40%);
$cor-branca: complement(#FFF);
$raio: 0.3em;
$raio-grande: 50px;
$mq-mobile: "(max-width: 980px)";